.container.main.index {
  .welcome_msg {
    h1 {
      font-family: 'Kalam', cursive;
      font-size: 3rem;
    }
  }
  .product_name {
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
  }
}

.name_product {
  font-family: 'Kalam', cursive;
  text-transform: uppercase;
}

.catalogue_title {
  font-family: 'Kalam', cursive;
}
.price_product {
  font-family: 'Kalam', cursive;
  font-size: 25px;
  font-weight: 600;
}