.container.main.page_product {
  .border_product {
    display: flex;
    justify-content: center;
    .image_product {
      width: 500px;
      box-shadow: 0 1px 6px 0 black;
    }
    .info_product {
      width: 40%;
    }

    .add-cart {
      cursor: pointer;
      > a {
        text-decoration: none;
        color: black;
      }
    }

    .description_product {
      padding: 0 60px;
    }
    .price_product {
      text-shadow: 1px 2px 0 $header-background;
      margin-bottom: 0;
    }

    .dropdown_product {
      cursor: pointer;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      width: 160px;
      border: solid 1px;
      margin: 15px 0 30px;
      &:hover .dropdown_content {
        display: block;
      }
      .dropdown_cursor {
        cursor: pointer;
        margin: 15px 0;
      }
      .dropdown_content {
        display: none;
        position: absolute;
        background-color: white;
        width: 120px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        text-align: left;
        padding: 10px 20px;
        top: 49px;

        &.content_product>div {
          cursor: pointer;
          &:hover {
            @include text-linear-gradient($colour-left, $colour-right);
            font-weight: 600;
          }
        }
      }
    }
  }
}