<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../getTeddies.js"></script>
    <script type="text/javascript" src="../saveDatas.js"></script>
    <script type="text/javascript" src="../formValidate.js"></script>

    <title>Merci pour votre commande</title>
</head>
<body>

<header>
    <div class="container header">
        <h1>
            <a href="../index.html" title="Accueil Orinoco">
                <img class="logo_header" src="../images/logo.png">
            </a>
        </h1>
        <nav>
            <div class="dropdown">
                <p class="dropdown_cursor">Catalogue</p>
                <div class="dropdown_content">
                    <a href="catalogue.html">Ours en peluche</a>
                    <p title="Disponible prochainement">Caméras vintage</p>
                    <p title="Disponible prochainement">Meubles en chêne</p>
                </div>
            </div>

            <p>
                <a href="panier.html">Panier</a>
            </p>
        </nav>
    </div>
</header>

<main class="container main page_order-confirmation">
    <h1 class="order-confirmation_title"></h1>
    <p class="order-confirmation_message">
        Merci d'avoir passé commande sur Orinoco. Votre commande est confirmée, vous recevrez votre colis sous 48h ouvrés.
        <br/>
    </p>
    <div class="order-confirmation-recap">
        <div class="order_informations">
            <h2>Récapitulatif de la commande</h2>
            <p class="order_date"></p>
            <table>
                <thead>
                <tr>
                    <th>Informations du produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Prix total</th>
                </tr>
                </thead>
                <tbody class="order_table">

                </tbody>
            </table>
        </div>


        <div class="order_delivery">
            <h2>Informations de livraison</h2>
            <div class="order_contact">
                <p class="order_contact_name"></p>
                <p class="order_contact_address"></p>
                <p class="order_contact_city"></p>
            </div>
        </div>
    </div>
</main>

</body>
</html>