<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orinoco - Panier</title>
</head>
<body>

<header>
    <h1>
        <a href="../index.html">
            Orinoco
        </a>
    </h1>
    <nav>
        <p><a href="catalogue.html">Catalogue</a></p>
        <p><a href="panier.html">Panier</a></p>
    </nav>
</header>

<main class="container">
    <div class="welcome_msg">
        <p>Bienvenu sur Orinoco !</p>
    </div>
    <div class="redirection_msg">
        <a href="catalogue.html">Accèder à notre catalogue d'ours en peluche ></a>
    </div>
</main>

</body>
</html>