<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type = "text/javascript" src ="../getTeddies.js"></script>

    <title class="head_title">????????????????????????????</title>
</head>
<body>

<header>
    <div class="container header">
        <h1>
            <a href="../index.html" title="Accueil Orinoco">
                <img class="logo_header" src="../images/logo.png">
            </a>
        </h1>
        <nav>
            <div class="dropdown">
                <p class="dropdown_cursor">Catalogue</p>
                <div class="dropdown_content">
                    <a href="catalogue.html">Ours en peluche</a>
                    <p title="Disponible prochainement">Caméras vintage</p>
                    <p title="Disponible prochainement">Meubles en chêne</p>
                </div>
            </div>

            <p>
                <a href="panier.html">Panier</a>
            </p>
        </nav>
    </div>
</header>

<main class="container main page_product">
    <h1 class="catalogue_title">Norbert</h1>

    <div class="product">
        <div class="border_product">
            <img class="image_product" src="../images/teddy_1.jpg">
            <div class="info_product">
                <p class="description_product">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <p class="price_product">
                    29,00€
                </p>
                <div class="dropdown">
                    <p class="dropdown_cursor">Coloris disponibles v</p>
                    <div class="dropdown_content">
                        <div>
                            <span class="product_color tan" title="tan"></span>
                            <span class="product_color_text">Tan</span>
                        </div>
                        <div>
                            <span class="product_color chocolate" title="chocolate"></span>
                            <span class="product_color_text">Chocolate</span>
                        </div>
                        <div>
                            <span class="product_color black" title="black"></span>
                            <span class="product_color_text">Black</span>
                        </div>
                        <div>
                            <span class="product_color white" title="white"></span>
                            <span class="product_color_text">White</span>
                        </div>
                    </div>
                </div>

                <p class="button_product add-cart">Ajouter au panier</p>
            </div>
        </div>
    </div>
</main>

</body>
</html>